@import url(juego.css);
@import url(stats.css);
@import url(opciones.css);
@import url(tablero.css);
@import url(ficha.css);

@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html{
  --main: #B4CDED;
  --accent: #344966;
  --dark: #0D1821;
  --light: #F0F4EF;
  --lightGray: #E9ECE8;
  --alert: #c23546;
  --success: #3AB26F;
  --gameBgSecondary: #E2E7E3;
  --statsBgSecondary: #374D6A;
}

body {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--light);
  background-image: radial-gradient(var(--gameBgSecondary) 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: var(--light);
}

html, body{
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

button, input{
  outline: none;
}

.customTooltip {
  --bs-tooltip-opacity: 1 !important;
  position: fixed !important;
}
.customTooltip .tooltip-inner{
  background-color: var(--dark);
  color: var(--lightGray);
  font-family: "Lexend Deca", sans-serif !important;
  font-weight: 350;
  max-width: 300px;
  width: max-content;
  white-space: normal;
}

/* .success{
  animation: twinkleSuccess 1s steps(1);
}

@keyframes twinkleSuccess {
  0%, 50% { color: var(--success); }
  25%, 75% { color: var(--light); }
} */