.selectorAllContainer {
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.selectorAllContainer label {
  color: var(--accent);
  grid-column: 1;
  font-weight: 450;
}

.selectorBtnContainer {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
  grid-column: 2;
}

.selectorBtn {
  background-color: var(--light);
  color: var(--accent);
  border-radius: 7px;
  border: none;
  box-shadow: 0 3px 0 var(--accent);
  height: 35px;
  font-size: 1.1rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 5px;
}

.selectorBtn span{
}

.selectorBtn svg{
}

.selectorBtn.selected {
  color: var(--light) !important;
  background-color: var(--accent);
  box-shadow: 0 3px 0 var(--light);
}

.selectorBtn:hover {
  filter: brightness(1.03);
}

.selectorBtn:active {
  transform: translateY(2px);
}

.selectorBtn.selected:hover {
  filter: brightness(1.1);
}

.selectorBtn:disabled:hover {
  filter: none !important;
}