.tableroContainer {
  flex: 1;
  width: 100%;
  /* overflow-y: hidden; */
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05)),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 90%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url('../assets/wood2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.tablero{
  display: grid;
  gap: 7px;
  justify-content: center;
  margin: 1%;
  max-width: 100vw;
  max-height: 100%;
  /* overflow-y: hidden; */
  /* grid-auto-rows: minmax(0, 1fr); */
  /* flex: 1; */
  /* place-items: center; */
  /* padding: 20px; */
  /* border-radius: 24px; */
}